@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'mirage';
    src: url(font/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf);
    font-size: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'mirage';
    src: url(font/MADE\ Mirage\ Medium\ PERSONAL\ USE.otf);
    font-size: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'mirage';
    src: url(font/MADE\ Mirage\ Bold\ PERSONAL\ USE.otf);
    font-size: normal;
    font-weight: 600;
}
*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: var(--font-heading);
}

:root {

    --font-heading: 'Inter', sans-serif;
    --font-title: 'mirage'; 
    --font-para: 'Asap', sans-serif;
    --bg-header: linear-gradient(to right, rgb(0, 0, 70), rgb(28, 181, 224));
    --clr: #fff;
    --clr-head: rgb(0,0,70);
    --clr-title: #4A4B65;
    --clr-hover: #6C6D89;
    --clr-foot: #37384E;
    --clr-fpara: #C3C4CA;
    --trans-btn: all 0.3s linear;
    --trans-plr: all 0.25s ease;
    --trans-ball: shoot 0.6s ease-out;
    --card-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    

}
header,
.navbar,
.navbar .dropdown-menu{
    background: var(--bg-header);
}
header,
section.games,
section.players,
section.categories,
section.number,
section.score
{
    margin-bottom: calc(100px + 2vw);
}
section.games h1,
section.players h1,
section.categories h1,
section.score h1{
    text-align: center;
    margin-bottom: calc( 50px + 2vw);
    color: var(--clr-title);
}
.navbar .dropdown-menu .dropdown-item:hover{
    background: var(--clr-hover);
    transition: var(--trans-btn);
}
.navbar .navbar-brand{
    font-family: var(--font-title);
    letter-spacing: 5px;
    cursor:default;
}
.navbar .navbar-brand:hover{
    color: #fff;
}
.navbar a,
.navbar .dropdown-item{
    color: var(--clr);
    font-family: var(--font-para);
    font-weight: 600;
    letter-spacing: 2px;
    
}
.navbar .left_div .nav-link:hover{
    color: #c5e3f6;
}
.navbar .right_div .nav-link{
    border: 1px solid #28c7fa;
    padding: 10px 13px;
    font-size: 17px;
    margin-right: 10px;
    border-radius: 8px;
}
.navbar .right_div .nav-link.hover:hover {
    color: var(--clr-title);
    background: var(--clr);
    transition: var(--trans-btn);
}

/* navbar done  */

/* cover start  */

a.btn {
    color: var(--clr);
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    font-weight: 500;
}
a.btn:hover {
    background: var(--clr);
    color: var(--clr-head);
    border: 3px solid var(--clr-head);
    border-radius: 3px;
}
section.cover .section_detail h1{
    font-size: calc( 40px + 3.1vw);
}
section.cover .player img{
    width: calc(170px + 5vw) ;
    transform: rotate(-50deg);
}
section.cover .ball img{
    width: calc(20px + 2vw) ;
}
section.cover .ball img{
    position: relative;
    left: calc( 5rem + 5vw);
    top: calc( -240px - 9vw);
}
section.cover:hover .player img{
    transform: rotate(30deg);
    transition: var(--trans-plr);
}
section.cover:hover .ball img{
    animation: var(--trans-ball);
}

@keyframes shoot {
    
    0%{
        transform: translate(0);
    }
    20%{
        transform: translate(-7vw, 4vw);
    }
    100%{
        transform: translate( 28vw, 7vw);
    }
}

/* header end  */

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    border-radius: 50%;
    background-image: none;
}

.carousel-control-prev-icon img, 
.carousel-control-next-icon img {
    width: calc( 20px + 2vw);
}
main article.game .card{
    width: calc(260px + 5vw);
    box-shadow: var(--card-shadow);
    margin-bottom: 21px;
}
main article.game .card figure{
    position: relative;
}
main article.game .card .bdg{
    position: absolute;
    content: "";
    top: 5%;
    right: -2%;
    letter-spacing: 2px;
}
main article.game figure figcaption{
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: var(--clr);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(36, 59, 85, 0.7));
    opacity: 0;
    transition: all 0.3s linear;
}
main article.game figure:hover figcaption{
    opacity: 1;
}
main article.game .card .card-body h4{
    color: var(--clr-title);
}
main article.game .card .card-body .time{
    color: var(--clr-hover);
}

/* jumbotron start  */
.img_jumbo{

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/cover/cover_2.jpg);
    background-size: 100%, 100%;
}
section.players .img_jumbo .team_plr {
    display: flex;
    justify-content: center;
}
section.players .img_jumbo .team_plr img,
section.score .top img{
    width: calc(220px + 5vw);
}

/* jumbotorn done  */

/* categories start  */
section.categories .cate {
    font-family: var(--font-para);
}
section.categories .cate h5{
    padding: 6px 0;
    font-weight: bold;
}
section.categories .cate img{
    width: calc(100px + 5vw);
    border-radius: 10px;
    box-shadow: var(--card-shadow);
}
/* categories done  */

/* highlights start  */
section.highlights .left_div .card{
    border-radius: 10px;
    background: transparent;
}
section.highlights .left_div .card:hover {
    box-shadow: var(--card-shadow);
    transition: var(--trans-btn);
}
section.highlights .left_div .card h5{
    color: var(--clr-title);
    font-size: 24px;
}
section.highlights .left_div .card p{
    color: var(--clr-hover)
}
section.highlights .left_div img{
    width: calc(320px + 5vw);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    /* height: 0; */
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

section.highlights .right_div .sports h5{
    font-weight: bold;
}
section.highlights .right_div .sports{
    color: var(--clr-title);
    font-family: var(--font-heading);
    display: flex;
    flex-direction: column ;
    justify-content: center ;
    align-items: flex-start;
    letter-spacing: 1px;
    line-height: 15px;
}
section.highlights .right_div .post {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0;
    margin-top: 5px;
}
section.highlights .right_div .post img{
    width: 90px;
    border-radius: 10px;
    margin-right: 15px;
}
section.highlights .right_div .post h6{
    font-weight: 600;
    margin-bottom: 10px;
}
section.highlights .right_div .post p{
    font-size: 12px;
    line-height: 20px;
}
.page-item.active .page-link {
    z-index: 3;
    color: #766df4;
    background-color: var(--clr);
    border-color: rgba(118, 109, 244, 0.35);
    border-radius: 10px;
}
.page-link {
    position: relative;
    display: block;
    color: var(--clr-title);
    text-decoration: none;
    background-color: #fff;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
section.score .top{
    box-shadow: var(--card-shadow);
}
/* main done  */

/* footer start  */
footer{
    background: var(--clr-foot);
    color: var(--clr-fpara);
    padding-top: calc(50px + 2vw);
    padding-bottom: calc( 10px + 1vw)
}
footer .contact h5,
footer .follow h5,
footer .sub h5{
    margin-bottom: calc(7px + 2vw);
    color: var(--clr);
}

footer .contact p{
    /* padding-left: 20px; */
}
footer .follow{
    display: flex;
    flex-direction: column;
}
footer .follow a{
    padding: 10px 13px;
    font-size: 17px;
    margin-right: 10px;
    color: var(--clr);
    border: 1px solid var(--clr-hover);
    border-radius: 8px;
    transition: var(--trans-btn);
}
footer .follow a:hover{
    color: var(--clr-title);
    background: var(--clr);
    
}
footer .sub .form-control {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
footer .sub button.btn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}